* {
  margin: 0;
}

body {
  background-color: aliceblue;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: lightcoral;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

.results {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

button .ui, .primary {
  color: white;
  background-color: #00acee;
  border: 1px solid aliceblue;
  margin-right: 5px;
  border-radius: 5px;
}

.card {
  border: 1px solid aliceblue;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px gray, -1em 0 .4em gray;
}

.card .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .content {
  margin-top: 10px;
}

.card .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


