* {
  margin: 0;
}

body {
  background-color: aliceblue;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: lightcoral;
  font-size: 10px;
  font-style: italic;
}

.results {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.buttons .btn-details, .buttons .btn-library {
  background-color: lightblue;
  margin-right: 10px;
  border: 1px solid lightblue;
  border-radius: 5px;
}

