* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.wrapper {
  max-width: 1020px;
  margin: 0 20px;
  display: grid;
}

.header {
  background-color: lightblue;
  height: 10vh;
}

.footer {
  height: 10vh;
}

.footer h6 {
  text-align: right;
}


.firstPanel {
  height: 50vh;
  width: 40vw;
  background-image: url('./assets/gummy-programming.svg');
  background-position: center;
  background-size: cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: lightcoral;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

.results {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

button  {
  color: white;
  background-color: #00acee;
  border: 1px solid aliceblue;
  margin-right: 5px;
  border-radius: 5px;
  padding: 10px;
}

.card {
  border: 1px solid aliceblue;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px gray, -1em 0 .4em gray;
}

.card .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .content {
  margin-top: 10px;
}

.card .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-wrapper {
  background: aliceblue;
  margin: 4rem auto;
}

.modal-content {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body {
  margin-bottom: 1rem;
}

.modal-body h4 {
  font-size: 1.8rem;
  color: coral;
}

.modal-body p {
  font-size: 1rem;
  background: aliceblue;
  color: black;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

div.active.modal.large {
  margin: 100px;
  max-width: 500px;
  opacity: 0.95;
  height: 50vh;

}

form {
  display: flex;
  flex-direction: column;
}

.login-form div.form-inputs p {
  font-size: 1rem;
}

.login-form.form-inputs input {
  outline: none;
}



